.editor-index .content-selector {
    align-items: center;
    display: flex;
    gap: 10px;
}

.editor-index .content-selector button {
    height: fit-content;
    cursor: pointer;
    padding: 5px 10px;
}