.layout {
    display: flex;
    height: 100%;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 8px;

    height: 100%;
    width: 100%;

    min-height: 0;
    min-width: 0;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

#quill-editor {
    display: flex;
    flex-direction: column;
    min-height: 0;
    min-width: 0;

    width: 100%;
}