.layout {
    display: flex;
    height: 100%;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 8px;

    height: 100%;
    width: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 8px;
}