h1[contenteditable = 'true']:empty::before {
    content: "Insert Title...";

    color: rgb(110, 110, 110);
    font-weight: 500;
}

h1[contenteditable = 'true'] {
    cursor: text;
    margin: 0;
    padding: 5px 10px;
    background-color: rgb(238, 238, 238);
    outline: none;
}


#quill-editor {
    display: flex;
    flex-direction: column;
    min-height: 0;
    min-width: 0;

    width: 100%;
}

.create-post {
    width: fit-content;
    padding: 10px 20px;

    align-self: flex-end;
    background-color: rgb(54, 113, 201);
    color: white;

    cursor: pointer;
    border-radius: 10px;
    border: none;
    outline: none;
}

.create-post:hover {
    background-color: rgb(37, 96, 184);
}

.cover-image {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.quill-editor-wrapper {
    display: flex;
    flex-direction: column;

    min-height: 80vh;
    min-width: 0;
}

.cover-image-options {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5px;

    div {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }

    button {
        width: fit-content;
        cursor: pointer;
    }
}