h1[contenteditable = 'true']:empty::before {
    content: "Título da postagem";

    color: rgb(110, 110, 110);
    font-style: italic;
    font-weight: 500;
}

h1[contenteditable = 'true'] {
    cursor: text;
    background-color: rgb(233, 233, 233);
}


#quill-editor {
    display: flex;
    flex-direction: column;
    min-height: 0;
    min-width: 0;

    width: 100%;
}