.sidebar {
    display: flex;
    flex-direction: column;

    background-color: #3c4b5e;
    color: white;

    width: 180px;
    flex-shrink: 0;

    align-items: center;
    padding: 20px 10px;
}

